.task{
    text-align: center;
    padding-top:15px;
}

.container{
    margin-top: 10px;
}


.submitbtn{
    margin-top: 13px!important;
}

.table{
    align-items: center;
    padding-right: 10rem;
}